
  var calcTime = function (time) {
    // console.log('time');
    console.log(time);

    if(!time) {
      return;
    }
    time = time + "";
    var str = time.replace('/-/g',"/");
    var reg = getRegExp('(\d{4})-(\d{2})-(\d{2})\s(\d{2}\:\d{2})\:\d{2}');
    var timeStr = str.match(reg);

    // console.log(str);
    // console.log(timeStr);

    var year = parseInt(timeStr[1]);

    var month = timeStr[2];
    var day = timeStr[3];
    var time = timeStr[4];
  
    var monthArr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
  
    var res = monthArr[parseInt(month)] + "." + parseInt(day) + " " + time;

    var nowYear = getDate().getFullYear();

    if(nowYear > year) {
      if(nowYear == year + 1) {
        res += ' 去年';
      }
      else {
        res += ' ' + year;
      }
    }
  
    return res;
  }
  
  var getMoon = function (hour) {
    let res;
    if(hour >= 0 && hour < 4) {
      res = "凌晨";
    } else if(hour < 9) {
      res = "早晨";
    } else if(hour < 11) {
      res = "上午";
    } else if(hour < 15) {
      res = "中午";
    } else if(hour < 19) {
      res = "下午";
    } else {
      res = "晚上";
    }
  
    return res;
  }

  var getSimTime = function (str) {
    if(!str) return;
    var reg = getRegExp('(\d{4})-(\d{2})-(\d{2})\s(\d{2}\:\d{2})\:\d{2}');
    var timeStr = str.replace(reg, '$1-$2-$3');

    return timeStr;
  }
  
  module.exports = {
    calcTime: calcTime,
    getSimTime: getSimTime
  }
  